<!DOCTYPE html>
<html>
<head>
<title>Technical Assessment</title>
</head>
<body>
	<form action="/register/technical" method="POST" name="technical">
		<table border="1">
			<tbody>
				<tr>
					<td>User Id</td>
					<td><input type="text" name="userid" id="userid" value="" /></td>
				</tr>
				<tr>
					<td>Assessment Name</td>
					<td><input type="text" name="assessment" id="assessment"
						value="" /></td>
				</tr>
				<tr>
					<td>Date</td>
					<td><input type="date" name="date" id="date" /></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" name="submit" value="submit" />
	</form>
</body>
</html>